/* You can add custom styles here if needed */
table {
  width: 100%;
}
.my-appointments-heading {
  /* Add your desired styles here */
  color: rgb(39, 39, 67);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
/* Change cursor to pointer and add hover background color */
.dropdown-item {
  cursor: pointer; /* Changes the cursor to pointer */
  transition: background-color 0.3s ease; /* Smooth color transition */
}

.dropdown-item:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
  color: #007bff; /* Optional: Blue text on hover */
}

/* Custom styles for selected items */
.dropdown-item.text-danger:hover {
  background-color: #ffe6e6; /* Light red background for danger items */
  color: #dc3545; /* Red text for danger items */
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-top: 30px;
}

.my-appointments-heading {
  color: rgb(39, 39, 67);
  font-size: 1.5rem;
  margin: 0;
}

.add-appointment-btn {
  background-color: #3f8f8f; /* Primary blue */
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-appointment-btn:hover {
  background-color: #2a3a42; /* Darker blue on hover */
}
