<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="text-dark font-medium fs-4">Doctors List</h2>
      <div class="d-flex align-items-center">
        <div class="position-relative me-3">
          <input 
          [(ngModel)]="speciality"
          name="speciality"
            type="text" 
            class="form-control pe-5" 
            placeholder="Search by Speciality" 
            (keydown.enter)="search()"
            (input)="reset()"
            >
          <i class="bi bi-search position-absolute top-50 end-0 translate-middle-y me-3"></i>
        </div>
      </div>
    </div>
  
    <div class="table-responsive">
      <table class="table align-middle text-nowrap">
        <thead class="table-dark">
          <tr>
            <th class="text-light font-medium">Doctor</th>
            <th class="text-light font-medium">Matricule</th>
            <th class="text-light font-medium">Speciality</th>
            <th class="text-light font-medium">Email</th>
            <th class="text-light font-medium text-center">Phone</th>
            <th class="text-light font-medium text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of doctors$ |async">
            <td>
              <div class="d-flex align-items-center">
                <img src="../../../assets/doctor.png" alt="user" width="45" class="rounded-circle">
                <div class="ms-3">
                  <h5 class="mb-0 font-medium">{{ doc.lastName }} {{ doc.firstName }}</h5>
                </div>
              </div>
            </td>
            <td >{{ doc.matricule }}</td>
            <td>{{ doc.speciality }}</td>
            <td>{{ doc.email }}</td>
            <td>{{ doc.phone }}</td>
            <td class="text-center">
              <button type="button" class="btn btn-outline-primary btn-sm me-2">
                Take Appointment
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
