<div class="container">
  <div class="table-header">
    <h4 class="my-appointments-heading">{{ title }}</h4>
  </div>

  <div class="upcoming-appointments-container">
    <table class="appointments-table">
      <thead>
        <tr>
          <th>Patient Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Date</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of upcomingAppointments$ | async">
          <td>
            {{ appointment.patient.firstName }}
            {{ appointment.patient.lastName }}
          </td>
          <td>{{ appointment.patient.email }}</td>
          <td>{{ appointment.patient.phone }}</td>
          <td>{{ appointment.date | date }}</td>
          <td>{{ appointment.session | sessionLabel }}</td>
          <td>
            <button
              type="button"
              class="btn btn-outline-danger btn-sm"
              (click)="onAccept(appointment.id, 'cancelled')"
            >
              <i class="fas fa-times-circle me-2"></i> Cancel
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
