<div class="table-header">
  <h4 class="my-appointments-heading">{{ title }}</h4>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Date</th>
      <th>Time</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appointment of upcomingAppointments">
      <td>{{ appointment.patient.firstName }} {{ appointment.patient.lastName }}</td>
      <td>{{ appointment.patient.email }}</td>
      <td>{{ appointment.patient.phone }}</td>
      <td>{{ appointment.date | date: 'shortDate' }}</td>
      <td>{{ appointment.date | date: 'shortTime' }}</td>
      <td>
        <button mat-button [matMenuTriggerFor]="menu">
          <i class="fas fa-ellipsis-v"></i> <mat-icon matSuffix>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onActionSelected(appointment, 'viewProfile')">View Profile</button>
          <button mat-menu-item (click)="onActionSelected(appointment, 'reschedule')">Reschedule</button>
          <button mat-menu-item (click)="onActionSelected(appointment, 'cancel')">Cancel</button>
        </mat-menu>
      </td>
    </tr>
  </tbody>
</table>