<!-- Section: Design Block -->
<section class="form-section">
  <!-- Jumbotron -->
  <div
    class="px-4 py-5 px-md-5 text-center text-lg-start"
    style="background-color: hsl(0, 0%, 96%)"
  >
    <div class="form-container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Revolutionize Healthcare <br />
            <span class="title">with MedHub</span>
          </h1>
          <p class="para">
            Welcome to MedHub, your comprehensive solution for seamless
            healthcare management. Whether you're a doctor looking to streamline
            your workflow or a patient seeking effortless communication with
            medical professionals, MedHub has you covered. Experience a smarter
            way to manage appointments, consultations, and more—all in one
            place.
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form #form="ngForm" (submit)="register(user)">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        #firstName="ngModel"
                        type="text"
                        class="form-control"
                        [(ngModel)]="user.firstName"
                        name="firstName"
                        minlength="5"
                        maxlength="15"
                        required
                        pattern="^[A-Za-z ]+$"
                      />
                      <label class="form-label" for="form3Example1"
                        >First name</label
                      >
                      <small
                        *ngIf="firstName.invalid && firstName.touched"
                        class="text-danger"
                        >Please enter a valid first name (5-15 characters,
                        letters only).</small
                      >
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        #lastName="ngModel"
                        type="text"
                        class="form-control"
                        [(ngModel)]="user.lastName"
                        name="lastName"
                        minlength="5"
                        maxlength="15"
                        required
                        pattern="^[A-Za-z ]+$"
                      />
                      <label class="form-label" for="form3Example2"
                        >Last name</label
                      >
                      <small
                        *ngIf="lastName.invalid && lastName.touched"
                        class="text-danger"
                        >Please enter a valid last name (5-15 characters,
                        letters only).</small
                      >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        #phone="ngModel"
                        type="tel"
                        class="form-control"
                        [(ngModel)]="user.phone"
                        name="phone"
                        minlength="8"
                        maxlength="8"
                        pattern="^\d+$"
                      />
                      <label class="form-label" for="form3Example2"
                        >Phone</label
                      >
                      <small
                        *ngIf="phone.invalid && phone.touched"
                        class="text-danger"
                        >Please enter a valid phone number
                      </small>
                    </div>
                  </div>

                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="date"
                        class="form-control"
                        [(ngModel)]="user.dateOfBirth"
                        name="dateOfBirth"
                      />
                      <label class="form-label" for="form3Example2"
                        >Date of birth</label
                      >
                    </div>
                  </div>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    #username="ngModel"
                    type="text"
                    class="form-control"
                    [(ngModel)]="user.username"
                    name="username"
                    minlength="5"
                    maxlength="15"
                    required
                  />
                  <label class="form-label" for="form3Example3">Username</label>
                  <small
                    *ngIf="username.invalid && username.touched"
                    class="text-danger"
                    >Please enter a valid username (3-15 characters).</small
                  >
                </div>
                <div class="form-outline mb-4 d-flex align-items-center">
                  <label class="form-label me-3">Select Role:</label>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input check"
                      type="radio"
                      id="doctor"
                      name="role"
                      value="doctor"
                      [(ngModel)]="user.role"
                    />
                    <label class="form-check-label" for="doctor">Doctor</label>
                  </div>
                  <div class="form-check form-check-inline ms-3">
                    <input
                      class="form-check-input check"
                      type="radio"
                      id="patient"
                      name="role"
                      value="patient"
                      [(ngModel)]="user.role"
                    />
                    <label class="form-check-label" for="patient"
                      >Patient</label
                    >
                  </div>
                </div>

                <!-- Sexe Selection -->
                <div class="form-outline mb-4 d-flex align-items-center">
                  <label class="form-label me-3">Select Sexe:</label>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input check"
                      type="radio"
                      id="male"
                      name="sexe"
                      value="male"
                      [(ngModel)]="user.sexe"
                    />
                    <label class="form-check-label" for="male">Male</label>
                  </div>
                  <div class="form-check form-check-inline ms-3">
                    <input
                      class="form-check-input check"
                      type="radio"
                      id="female"
                      name="sexe"
                      value="female"
                      [(ngModel)]="user.sexe"
                    />
                    <label class="form-check-label" for="female">Female</label>
                  </div>
                </div>
                <div *ngIf="user.role == 'patient'" class="row">
                  <div class="col-md-4 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        #height="ngModel"
                        type="number"
                        class="form-control"
                        [(ngModel)]="user.height"
                        name="height"
                        minlength="3"
                        maxlength="3"
                        pattern="^\d+$"
                      />
                      <label class="form-label" for="form3Example2"
                        >Height</label
                      >
                      <small
                        *ngIf="height.invalid && height.touched"
                        class="text-danger"
                        >Please enter a valid height
                      </small>
                    </div>
                  </div>

                  <div class="col-md-4 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="user.weight"
                        name="weight"
                      />
                      <label class="form-label" for="form3Example2"
                        >Weight</label
                      >
                    </div>
                  </div>
                  <div class="col-md-4 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <select
                        class="form-control"
                        id="bloodType"
                        [(ngModel)]="user.bloodType"
                        name="bloodType"
                      >
                        <option *ngFor="let type of bloodTypes">
                          {{ type }}
                        </option>
                      </select>
                      <label for="speciality" class="form-label"
                        >Blood Type</label
                      >
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="user.role == 'doctor'"
                  data-mdb-input-init
                  class="form-outline mb-4"
                >
                  <label for="speciality" class="form-label">Speciality</label>
                  <select
                    class="form-control"
                    id="speciality"
                    [(ngModel)]="user.speciality"
                    name="speciality"
                  >
                    <option *ngFor="let spec of speciality">
                      {{ spec }}
                    </option>
                  </select>
                </div>

                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    #email="ngModel"
                    type="email"
                    class="form-control"
                    [(ngModel)]="user.email"
                    name="email"
                    required
                  />
                  <label class="form-label" for="form3Example3"
                    >Email address</label
                  >
                  <small
                    *ngIf="email.invalid && email.touched"
                    class="text-danger"
                    >Please enter a valid email</small
                  >
                </div>

                <!-- Password input -->
                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    #password="ngModel"
                    type="password"
                    class="form-control"
                    [(ngModel)]="user.password"
                    name="password"
                    required
                    minlength="7"
                  />
                  <label class="form-label" for="form3Example4">Password</label>
                  <small
                    *ngIf="password.invalid && password.touched"
                    class="text-danger"
                    >Please enter a valid password (more than 7
                    characters).</small
                  >
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <a
                    [routerLink]="loginLink"
                    class="btn btn-link btn-block mb-4"
                  >
                    Back to Login
                  </a>
                </div>

                <!-- Submit button -->
                <button
                  [disabled]="!form.valid"
                  type="submit"
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-primary button btn-block mb-4"
                >
                  Sign up
                </button>

                <!-- Register buttons -->
                <div class="text-center">
                  <p>or sign up with:</p>
                  <button
                    type="button"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-link btn-floating mx-1"
                  >
                    <i class="fab fa-facebook-f"></i>
                  </button>

                  <button
                    type="button"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-link btn-floating mx-1"
                  >
                    <i class="fab fa-google"></i>
                  </button>

                  <button
                    type="button"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-link btn-floating mx-1"
                  >
                    <i class="fab fa-twitter"></i>
                  </button>

                  <button
                    type="button"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-link btn-floating mx-1"
                  >
                    <i class="fab fa-github"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
