.sidenav-container {
  display: flex;
  height: 100vh;
  background-color: white;
}
.sidenav {
  width: 250px;
  background-color: #3f8f8f;
  color: white;
 
  box-shadow: 4px 0px 10px #3f8f8f;
}
.sidenav-header {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #3f8f8f;
}
.sidenav-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}
mat-icon.logo {
  font-size: 36px;
  color: #e8d7c3;
}
.icon {
  font-size: 20px;
  color: #0cd62d;
}
mat-nav-list {
  background-color: #3f8f8f;
  padding: 0;
}
mat-list-item {
  background-color: #3f8f8f;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  min-height: 50px;
}
mat-list-item:hover {
  background-color: #455a64;
}
mat-icon {
  color: #e8d7c3;
  margin-right: 15px;
  font-size: 20px;
  display: inline;
  align-items: center;
  justify-content: center;
  min-width: 30px;
}
mat-sidenav[mode="over"] {
  background-color: #3f8f8f;
  width: 200px;
}
mat-sidenav-content {
  flex-grow: 1;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .sidenav {
    background-color: #3f8f8f;
    width: 200px;
  }

  mat-sidenav[opened] {
    width: 250px;
  }
}

.sidenav-item {
  background-color: #3f8f8f;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  min-height: 50px;
}

.sidenav-item:hover {
  background-color: #3f8f8f;
}

.sidenav-item-text {
  font-size: 20px;
  font-weight: 500;
  color: white;
  transition: color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidenav-item.active .sidenav-item-text {
  color: #ffffff;
}

.sidenav-item.active {
  background-color: #3f8f8f;
}
