<mat-card class="social-history-container">
  <h2>Social history</h2>

  <div class="question-section">
    <mat-card class="question-card">
      <p class="question">Do you smoke cigarettes?</p>
      <mat-radio-group>
        <mat-radio-button *ngFor="let option of smokingOptions" [value]="option.value">
          {{ option.label }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card>

    <mat-card class="question-card">
      <p class="question">How many packs a day?</p>
      <mat-form-field>
        <input matInput placeholder="Enter number">
      </mat-form-field>
    </mat-card>

    <mat-card class="question-card">
      <p class="question">Do you drink alcohol?</p>
      <mat-button-toggle-group>
        <mat-button-toggle value="No">No</mat-button-toggle>
        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card>

    <mat-card class="question-card">
      <p class="question">How many drinks per week?</p>
      <mat-form-field>
        <input matInput placeholder="Enter number">
      </mat-form-field>
    </mat-card>
        <!-- Drogues récréatives -->
        <mat-card class="question-card">
          <p class="question">Do you use recreational drugs?</p>
    
          <div class="options">
            <button mat-button class="select-all" (click)="selectAllDrugs()">Select All</button>
          </div>
    
          <div class="options">
            <mat-checkbox *ngFor="let option of drugOptions" [checked]="selectedDrugs.includes(option.value)" (change)="toggleDrugSelection(option.value)">
              {{ option.label }}
            </mat-checkbox>
          </div>
    
          <!-- Fréquence d'usage des drogues -->
          <div class="frequency">
            <p class="question">How many times per month?</p>
            <p>If you take different types of drugs, please specify the frequency of use for each in a 'drug-#times/month' format.</p>
            <mat-form-field appearance="fill">
              <textarea matInput [(ngModel)]="drugFrequency" placeholder="Specify the frequency for each drug"></textarea>
            </mat-form-field>
            
          </div>
        </mat-card>
      </div>
    </mat-card>

