<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="text-dark font-medium fs-4">Patients List</h2>
      <div class="d-flex align-items-center">
        <!-- <div class="position-relative me-3">
          <input
            [(ngModel)]="speciality"
            name="speciality"
            type="text"
            class="form-control pe-5"
            placeholder="Search by Speciality"
            (keydown.enter)="search()"
            (input)="reset()"
          />
          <i
            class="bi bi-search position-absolute top-50 end-0 translate-middle-y me-3"
          ></i>
        </div> -->
      </div>
    </div>
  
    <div class="table-responsive">
      <table class="table align-middle text-nowrap">
        <thead class="table-dark">
          <tr>
            <th class="text font-medium">Patient</th>
            <th class="text font-medium">sexe</th>
            <th class="text font-medium">Email</th>
            <th class="text font-medium text-center">Phone</th>
            <th class="text font-medium text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients ">
            <td>
              <div class="d-flex align-items-center">
                <img
                  [src]="
                    patient.sexe == 'male'
                      ? '../../../../../assets/male.png'
                      : '../../../../../assets/female.png'
                  "
                  alt="user"
                  width="45"
                  class="rounded-circle"
                />
                <div class="ms-3">
                  <h5 class="mb-0 font-medium">
                    {{ patient.lastName }} {{ patient.firstName }}
                  </h5>
                </div>
              </div>
            </td>
            <td>{{ patient.sexe }}</td>
            <td>{{ patient.email }}</td>
            <td>{{ patient.phone }}</td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-outline-primary btn-sm me-2"
                (click)="openAppointmentModal(patient)"
              >
                View Profile
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>