<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-dark font-medium fs-4">Patients List</h2>
    <div class="position-relative me-3">
      <!-- <input
          [(ngModel)]="searchTerm"
          name="nameSearch"
          type="text"
          class="form-control pe-5 search-input"
          placeholder="Search by patient name..."
          (input)="searchByName()"
        /> -->
      <i
        class="bi bi-search position-absolute top-50 end-0 translate-middle-y me-3 search-icon"
      ></i>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table align-middle text-nowrap">
      <thead >
        <tr>
          <th class="text font-medium">Patient</th>
          <th class="text font-medium">Sexe</th>
          <th class="text font-medium">Email</th>
          <th class="text font-medium text-center">Phone</th>
          <th class="text font-medium text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <td>
            <div class="d-flex align-items-center">
              <img
                [src]="
                  patient.sexe === 'male'
                    ? '../../../assets/male.png'
                    : '../../../assets/female.png'
                "
                [src]="
                  patient.sexe === 'male'
                    ? '../../../assets/male.png'
                    : '../../../assets/female.png'
                "
                alt="user"
                width="45"
                class="rounded-circle"
              />
              <div class="ms-3">
                <h5 class="mb-0 font-medium">
                  {{ patient.lastName }} {{ patient.firstName }}
                </h5>
              </div>
            </div>
          </td>
          <td>{{ patient.sexe }}</td>
          <td>{{ patient.email }}</td>
          <td>{{ patient.phone }}</td>
          <td class="text-center">
            <button
              type="button"
              class="btn btn-outline-primary btn-sm me-2"
              (click)="openProfileModal(patient)"
            >
              View Profile
            </button>
            <button
              type="button"
              class="btn btn-outline-primary btn-sm me-2"
              (click)="openMedicationModal(patient)"
            >
              Assign medications
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal Template for profile -->
  <div
    class="modal fade"
    id="patientModal"
    tabindex="-1"
    aria-labelledby="patientModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="patientModalLabel">Patient Profile</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- Patient Info Section -->
          <div class="row">
            <div class="col-md-6 mb-3">
              <h6 class="section-title">General Information</h6>
              <ul class="list-group">
                <li class="list-group-item">
                  Name: {{ selectedPatient.lastName }}
                  {{ selectedPatient.firstName }}
                </li>
                <li class="list-group-item">
                  Sexe: {{ selectedPatient.sexe }}
                </li>
                <li class="list-group-item">
                  Email: {{ selectedPatient.email }}
                </li>
                <li class="list-group-item">
                  Phone: {{ selectedPatient.phone }}
                </li>
              </ul>
            </div>
            <div class="col-md-6 mb-3">
              <h6 class="section-title">Medical Information</h6>
              <ul class="list-group">
                <li class="list-group-item">
                  Height: {{ selectedPatient.height }} cm
                </li>
                <li class="list-group-item">
                  Weight: {{ selectedPatient.weight }} kg
                </li>
                <li class="list-group-item">
                  Blood Type: {{ selectedPatient.bloodType }}
                </li>
              </ul>
            </div>
          </div>

          <!-- Appointments Section -->
          <h6 class="section-title mt-4">Appointment History</h6>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let appointment of selectedPatient?.appointments">
                  <td>{{ appointment.date | date }}</td>
                  <td>{{ appointment.session | sessionLabel }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="medicationModal"
  tabindex="-1"
  aria-labelledby="medicationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="medicationModalLabel">
          Patient Medications
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Medication</th>
                  <th>Dose Per Day</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medication of selectedPatient?.medications">
                  <td>{{ medication.name }}</td>
                  <td>{{ medication.frequency }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mb-3">
            <label for="session" class="form-label">Session</label>
            <select
              class="form-control"
              id="session"
              name="selectedSession"
              [(ngModel)]="selectedMedication.name"
            >
              <option *ngFor="let medication of medications$ | async">
                {{ medication.name }}
              </option>
            </select>
          </div>
          <button
            type="button"
            class="btn btn-secondary btn-color"
            data-bs-dismiss="modal"
            aria-label=""
            (click)="addMedication()"
          >
            Add Medication
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
