.sidenav-container {
  display: flex;
  height: 100vh;
}
.sidenav {
  width: 250px;
  background-color: #3f8f8f; /* Dark color */
  color: white;
  padding-top: 20px;
  box-shadow: 4px 0px 10px #3f8f8f;
}
.sidenav-header {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #3f8f8f; /* Slightly lighter background */
}
.sidenav-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}
mat-icon.logo {
  font-size: 36px;
  color: #E8D7C3; /* Highlight color for the logo */
}
.icon{
  font-size: 20px;
  color: #0cd62d; /* Highlight color for the logo */
}
mat-nav-list {
  background-color: #3f8f8f;
  padding: 0;
}
mat-list-item {
  background-color: #3f8f8f;
  display: flex;
  align-items: center; /* Ensures vertical alignment */
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  min-height: 50px; /* Ensure that list item has a consistent height */
}
mat-list-item:hover {
  background-color: #455a64; /* Darken color on hover */
}
mat-icon {
  color: #E8D7C3;
  margin-right: 15px; /* Space between icon and text */
  font-size: 20px;  
  display:inline;
  align-items: center; /* Vertically center the icon */
  justify-content: center; /* Ensure the icon is centered horizontally */
  min-width: 30px; /* Add a fixed minimum width to align properly */
}
mat-sidenav[mode="over"] {
  background-color: #3f8f8f;
  width: 200px;
}
mat-sidenav-content {
  flex-grow: 1;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .sidenav {
    background-color: #3f8f8f;
    width: 200px;
  }

  mat-sidenav[opened] {
    width: 250px;
  }
}

/* Additional custom styles for the items */
.sidenav-item {
  background-color:  #3f8f8f;
  display: flex;
  align-items: center; /* Ensures items (icon + text) are aligned */
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  min-height: 50px; /* Ensures that the items are consistent in height */
}



.sidenav-item:hover {
  background-color: #3f8f8f;
}

.sidenav-item-text {
  font-size: 20px;
  font-weight: 500;
  color:white;
  transition: color 0.3s ease;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflowed text */
}

.sidenav-item.active .sidenav-item-text {
  color: #ffffff; /* Change this to the color you want for the active item */
}

/* Active state - Change background color (optional) */
.sidenav-item.active {
  background-color: #3f8f8f; /* Darker background on active item */
}