<div class="patient-history-container">
    <!-- Colonne gauche : Health History + Patient History -->
    <div class="left-column">
      <app-health-history 
        [healthQuestions]="healthQuestions" 
        [healthHistory]="healthHistory">
      </app-health-history>
  
      <div class="patient-history">
        <app-personal-details></app-personal-details>
      </div>
    </div>
  
    <!-- Colonne droite : Social History -->
    <div class="right-column">
      <app-social-history 
        [smokingOptions]="smokingOptions" 
        [vapingOptions]="vapingOptions" 
        [alcoholOptions]="alcoholOptions" 
        [drugOptions]="drugOptions">
      </app-social-history>
      <app-surgical-history></app-surgical-history>
    </div>
  </div>
  