/* Main container */
.patient-history-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
    gap: 20px; /* Espacement entre les colonnes */
    max-width: 5000px;
    margin: auto;
    padding: 20px;
}

/* Colonne gauche contenant Health History et Patient History */
.left-column {
    display: flex;
    flex-direction: column; /* Pour empiler Health History et Patient History */
    gap: 20px; /* Espacement entre les sections */
}

/* Colonne droite contenant Social History */
.right-column {
    display: flex;
    flex-direction: column;
}

/* Patient History sous Health History */
.patient-history {
    width: 100%; /* S'assure que ça prend toute la largeur de la colonne */
}
